IO_LOC "uart_tx_pin_OBUF_O" IOT50A;
IO_LOC "led_OBUF_O_5" IOL51B;
IO_LOC "led_OBUF_O_4" IOL51A;
IO_LOC "led_OBUF_O_3" IOL49B;
IO_LOC "led_OBUF_O_2" IOL49A;
IO_LOC "led_OBUF_O_1" IOL47B;
IO_LOC "led_OBUF_O" IOL47A;
IO_LOC "\cpu_core.uart_rx_pin_IBUF_O " IOT44B;
IO_LOC "clk_IBUF_I" IOL7A;
